@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > * {
  width: 100vw;
  text-align: center;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem;
}

.header > ul,
.footer > ul {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.header {
}

.content {
  flex-grow: 1;
}

.footer {
  background-color: #eeeeee;
}

li {
  margin: 0;
  list-style: none;
  padding: 0.5rem;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 0.5rem;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: black;
}
